
Licenta/Net/Char_generator/Chars_test
Licenta/Net/Char_generator/Chars_train
Licenta/Net/Chars
Licenta/NodeJS/node_modules
Licenta/NodeJS/uploads
*__pycache__

~$icenta.docx
~WRL1031.tmp
~WRL0908.tmp
