
Licenta/Net/Char_generator/Chars_test
Licenta/Net/Char_generator/Chars_train
Licenta/Net/Chars
Licenta/NodeJS/node_modules
Licenta/NodeJS/uploads
*__pycache__

~$icenta.docx
~WRL1031.tmp
~WRL0908.tmp
Licenta/Net/letters_010001/letter0.png
Licenta/Net/letters_010001/letter1.png
Licenta/Net/letters_010001/letter10.png
Licenta/Net/letters_010001/letter11.png
Licenta/Net/letters_010001/letter12.png
Licenta/Net/letters_010001/letter13.png
Licenta/Net/letters_010001/letter14.png
Licenta/Net/letters_010001/letter15.png
Licenta/Net/letters_010001/letter16.png
Licenta/Net/letters_010001/letter17.png
Licenta/Net/letters_010001/letter18.png
Licenta/Net/letters_010001/letter19.png
Licenta/Net/letters_010001/letter2.png
Licenta/Net/letters_010001/letter20.png
Licenta/Net/letters_010001/letter21.png
Licenta/Net/letters_010001/letter22.png
Licenta/Net/letters_010001/letter23.png
Licenta/Net/letters_010001/letter24.png
Licenta/Net/letters_010001/letter25.png
Licenta/Net/letters_010001/letter26.png
Licenta/Net/letters_010001/letter27.png
Licenta/Net/letters_010001/letter28.png
Licenta/Net/letters_010001/letter29.png
Licenta/Net/letters_010001/letter3.png
Licenta/Net/letters_010001/letter30.png
Licenta/Net/letters_010001/letter31.png
Licenta/Net/letters_010001/letter32.png
Licenta/Net/letters_010001/letter33.png
Licenta/Net/letters_010001/letter34.png
Licenta/Net/letters_010001/letter35.png
Licenta/Net/letters_010001/letter36.png
Licenta/Net/letters_010001/letter37.png
Licenta/Net/letters_010001/letter4.png
Licenta/Net/letters_010001/letter5.png
Licenta/Net/letters_010001/letter6.png
Licenta/Net/letters_010001/letter7.png
Licenta/Net/letters_010001/letter8.png
Licenta/Net/letters_010001/letter9.png
Licenta/Net/loaded_letter.png
Licenta/Net/mymodel.h5
Licenta/Net/nn_create_model.py
Licenta/Net/nn_test_model.py
Licenta/NodeJS/api/routes/bills.js
Licenta/Ocropus/temp/0001/letters_010001/letter4.png
~$Prezentare licenta.pptx
